Package: de.maxner.openinprotube
Name: Open in ProTube
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jonas Gessner
Author: Jonas Gessner
Section: Tweaks
